// =============================================================================
// Footer
// =============================================================================

.ft-main {
	position:fixed;
	bottom:0;
	border-top:1px solid #ccc;
	width:976px;
	padding:1em;
	.box-sizing(~"border-box");
	background:#fff;
}
