// =============================================================================
// Layout rules for block level container elements
// =============================================================================


html {
	height:100%;
}

body {
	height:100%;
}

[role="main"] {
	width:976px;
	margin:0px auto;
}


// Mobile ===================================================================

@media @mobileOnly {
	
}
