// =============================================================================
// Two column layout defaults
// =============================================================================

.twocol {
	margin:0px auto;		// not best practise to use clearfix too often from within CSS! 
	.clearfix();			// better inlined within HTML
}

.twocol-col1 {
	width:45%;
	float:left;
	margin:0 2.5%;
}

.twocol-col2 {
	width:45%;
	float:left;
}


// Mobile ===================================================================

@media @mobileOnly {
 	.twocol {
		width:auto;
	}
	.twocol-col1, .twocol-col2 {
		width: 100%;
		float:none;
	}
}