// =============================================================================
// Background colours, textures etc for block level container elements
// =============================================================================

html {
	background-color:@bgBody;
}

[role="main"] {
	background-color:#fff;
	padding-bottom:10em;
}