// =============================================================================
// Colours
// =============================================================================

@bgBody:		#ccc;  
@highlight:		#ff0066;  
@textDefault:	#222;

	

// =============================================================================
// Media Queries
// =============================================================================

@mobileOnly: 				~"screen and (min-device-width: 0px) and (max-device-width: 767px)";
@mobileLandscape: 			~"screen and (min-device-width: 0px) and (max-device-width: 767px) and (orientation: landscape)";
@tabletUp: 					~"screen and (min-width: 768px)";
@tabletPortrait: 			~"screen and (min-width: 768px) and (orientation: portrait)";
@desktopUp:					~"screen and (min-device-width: 1024px)";
@hiRes:					    ~"screen and (min-device-width: 1024px) and (min-width: 1280px)";

