// =============================================================================
// Header
// =============================================================================

.hd-main {
	padding:2em;
	h1 {
		color:@highlight;
		text-transform:uppercase;
	}
	border-bottom:1px solid #ccc;
}


// Mobile ===================================================================

@media @mobileOnly {
	.hd-main {
		
	}
}


// Tablet ===================================================================

@media @tabletPortrait {
	.hd-main {
		
	}
}
