// =============================================================================
// Main navigation
// =============================================================================

.nav-main {
	ul {
		li {
			a {
				display:inline-block;
				[class^="icon-"],
				[class*=" icon-"] {
    				margin-right:4px;
  				}
			}
			float:left;
			margin-right:16px;
		}
	}
}


// Mobile ===================================================================

@media @mobileOnly {
	.nav-main {
		
	}
}