// =============================================================================
// Font awesome Icon font
// =============================================================================

@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=3.0.1');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    	url('fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    	url('fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype'),
    	url('fonts/sbcakkrgpro1.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*  Font Awesome styles
    ------------------------------------------------------- */

[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

a {
  [class^="icon-"],
  [class*=" icon-"] {
    display: inline-block;
  }
}