// =============================================================================
// Font-face definitions (Akkurat used as example)
// =============================================================================

@font-face {
    font-family: 'Akkurat';
    src: url('fonts/sbcakkrgpro1.eot');
    src: url('fonts/sbcakkrgpro1.eot?#iefix') format('embedded-opentype'),
         url('fonts/sbcakkrgpro1.woff') format('woff'),
         url('fonts/sbcakkrgpro1.ttf') format('truetype'),
         url('fonts/sbcakkrgpro1.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


// =============================================================================
// Typography defaults
// =============================================================================	

* {
	-webkit-font-smoothing : antialiased;
}

body {
	font-size: 1em;
	line-height: 1.4;
	font-family: Akkurat;		// Overwrite with your default font
}

a {
	text-decoration:underline;
	color:inherit;
	&:hover {
		color:@highlight;
	}
}


// =============================================================================
// Type sizes:	http://modularscale.com	(use 'ems at 16' setting), or overwrite!
// =============================================================================	

@xs:		0.52em;
@s:			0.65em;
@r:			0.813em;	// 13px (body)
@m:			1.016em;
@l:			1.27em;			
@xl:		1.587em;
@xxl:		1.984em;


h1 { font-size:@xxl; }
h2 { font-size:@xl; }
h3 { font-size:@l; }
h4 { font-size:@m; }
h5 { font-size:@r; }

h1, h2, h3, h4, h5, p, ul, ol { margin-bottom:1em; }

p, li, dd, dt { font-size:@r; }

small { font-size:@s; }



